body {
    width:800px;
    padding:20 100px;
    text-align:center;
}

table {
    border:1px solid black;
}

tr {
    border:1px solid #123456;
}

a:link {
    color:#FF0000;
    text-decoration:underline;
}

a:visited {
    color:#00FF00;
}

a:hover {
    color:#FF00FF;
}

a:active {
    color:#0000FF;
}
